html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 600px;
    min-height: 600px;
    padding: 7px;
    background: linear-gradient(160deg, #fad502 0%, #f78504 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deck .card {
    flex: calc(25% - 10px);
    margin: 5px;
    transform: rotateY(180deg);
    background: #2e3d49;
    color: transparent;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/* Keep the cards all the same height */
.deck .card i {
    font-size: 32px;
    line-height: 0;
}

.deck.animated .card {
    transition: transform .5s, background-color .1s;
}

.deck .card.open {
    transform: rotateY(0deg);
    cursor: default;
}

.deck .card.show {
    background: #02b3e4;
    color: #ffffff;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Win Panel */
.win-screen {
    background-color: rgba(73, 69, 46, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
}

.win-screen.show {
    visibility: visible;
}

.win-screen > * {
    width: 50vw;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .deck {
        max-width: calc(100vw - 14px);
        min-height: calc(100vw - 14px);
    }
}
